<?xml version="1.0"?>
  <!-- camera version -->
<launch>
  <arg name="vocabulary"/>
  <arg name="setting" />
  <!-- Leg detection -->
  <node name="bundle_adjustment" pkg="dorbslam" type="bundle_adjustment_node" 
        output="screen" />

  <node name="dorbslam_div2" pkg="dorbslam" type="dorbslam_node_div2"
    args="$(arg vocabulary) $(arg setting)" output="screen"  />

</launch>
