<?xml version="1.0"?>

<launch>
  <arg name="vocabulary" default="$(find dorbslam)/resources/voc/ORBvoc.txt" />
  <arg name="setting" default="$(find dorbslam)/resources/settings/astra_vga.yaml" />
  <arg name="div1" default="true" />
  <arg name="div3" default="false" />
  <arg name="normal" default="false" />
  <arg name="extractor" default="true" />
  <arg name="bundle" default="false" />
  <group if="$(arg extractor)">
    <include file="$(find dorbslam)/launch/orb_extractor.launch">
      <arg name="vocabulary" value="$( arg vocabulary )" />
      <arg name="setting" value="$( arg setting )" />
      <arg name="image_topic" value="/camera/rgb/image_rect_color" />
    </include>
  </group>
  <group if="$(arg div1)">
    <include file="$(find dorbslam)/launch/dorbslam_div1.launch">
      <arg name="vocabulary" value="$( arg vocabulary )" />
      <arg name="setting" value="$( arg setting )" />
    </include>
  </group>
  <group if="$(arg bundle)">
    <include file="$(find dorbslam)/launch/bundle_adjustment.launch">
      <arg name="vocabulary" value="$( arg vocabulary )" />
      <arg name="setting" value="$( arg setting )" />
    </include>
  </group>
  <group if="$(arg div3)">
    <include file="$(find dorbslam)/launch/dorbslam_div3.launch">
      <arg name="vocabulary" value="$( arg vocabulary )" />
      <arg name="setting" value="$( arg setting )" />
    </include>
  </group>
  <group if="$(arg normal)">
    <include file="$(find dorbslam)/launch/dorbslam.launch">
      <arg name="vocabulary" value="$( arg vocabulary )" />
      <arg name="setting" value="$( arg setting )" />
      <arg name="image_topic" value="/camera/rgb/image_rect_color" />
    </include>
  </group>
</launch>

